body {
  height: 800px;
  background-image: url("legend.jpg");
  opacity: 0.8;
       background-size: 25px 50px;
       background-size: 50% 50%;
	   background-position: center;
       background-repeat: no-repeat;
       margin: 0;
       height: 100vh;
	   background-color:grey;
}
    
